## API base URL for frontend (CRA)
# If you get SSL error for `namico.ru` (ERR_CERT_COMMON_NAME_INVALID), use `www`.
REACT_APP_API_BASE_URL=https://www.namico.ru/api/v1
REACT_APP_API_ORIGIN=https://www.namico.ru

