# REACT_APP_API_BASE_URL=http://localhost:8082/api/v1
# REACT_APP_API_ORIGIN=http://localhost:8082

# Удалённый стенд (пример)
REACT_APP_API_BASE_URL=https://www.namico.ru/api/v1
REACT_APP_API_ORIGIN=https://www.namico.ru
